/* reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
  transition: all 0.25s;
}

/* GLOBAL CSS */

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1300px;
  margin: auto;
}

/* header */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #77b1fc;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #ccc;
}
.header_nav {
  width: 100%;
  gap: 30px;
  height: 60px;
  width: 100%;
  gap: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}
.header_logo img {
  max-width: 100px;
  width: 100%;
}

/* SECTION */
.header_section {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 100%;
  gap: 5px;
}
/*Search */
.header_section-search {
  /* max-width: 750px; */
  width: 100%;
  display: flex;
  align-items: center;
  height: 90%;
  padding: 5px;
  background-color: #fff;
  gap: 20px;
  border-radius: 3px;
}
.header_section-search input {
  max-width: 700px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border: 0;
}
.header_section-search input:focus {
  outline: none;
}
.header_section-search button {
  max-width: 80px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #77b1fc;
  color: #fff;
  border-radius: 3px;
}
.header_section-search button i {
  font-size: 18px;
}

/* category */
.header_section-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.header_section-category a {
  color: #fff;
}
.header_section-category a:hover {
  color: #333;
  text-decoration: underline;
  transition: all 0.25s;
}

/* CART & ACCOUNT */
.header_cart {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header_cart a {
  color: #fff;
  font-size: 25px;
}
.header_cart-cart {
  position: relative;
}
.header_cart-cart span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  color: #77b1fc;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

.header_cart-account {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  width: 250px;
  padding: 0px 20px;
  z-index: 100;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 10px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.dropdown_head {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
.dropdown_head img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.dropdown_name {
  font-size: 16px;
  font-weight: 600;
}
.dropdown_username {
  font-size: 14px;
  color: #757575;
}
.dropdown_inner a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-size: 15px;
  padding: 10px 0;
}
.dropdown_inner a:hover {
  color: #333;
}
.dropdown_inner a:first-child {
  border-bottom: 1px solid #eaeaea;
}
.header_cart-account:hover .dropdown {
  display: block;
  opacity: 1;
  visibility: visible;
}
