/* Error: This module and the new module both define a variable named "$main-color".
 *   ,
 * 1 | @use "../base/variables" as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\components\_footer.scss 1:1  @import
 *   assets\scss\main.scss 5:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This module and the new module both define a variable named "$main-color".\a   \2577 \a 1 \2502  @use "../base/variables" as *;\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\components\\_footer.scss 1:1  @import\a   assets\\scss\\main.scss 5:9                root stylesheet';
}
