* {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0; 
  background: #f2f2f2;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}


.login-container {
  width: 400px; 
  background: #fff; 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
}

.register-container {
  width: 450px;
  background: #fff;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.title {
  text-align: center; 
  color: #4da6ff; 
  font-size: 30px; 
  margin-bottom: 25px; 
  text-shadow: 2px 2px 5px rgba(0,0,255,0.3); 
}

.input-group {
  margin-bottom: 20px; 
}

.input-group label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: 500;
}

.input-group input {
  width: 100%; 
  padding: 10px; 
  border: none; 
  border-bottom: 2px solid #ccc; 
  outline: none; 
  font-size: 14px;
}

.input-group input:focus {
  border-bottom: 2px solid #4da6ff; 
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  border: 1px solid #4da6ff;
  background: transparent;
  border-radius: 10px;
  color: #4da6ff;
  cursor: pointer;
  transition: 0.3s; 
}

button:hover {
  background: #4da6ff;
  color: white;
}

.link {
  color: red;
  text-decoration: underline;
  font-size: 14px;
}